<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    footer {
        text-align: center;
    }

    .social-icons {
        display: inline-block;
    }
</style>
<footer th:fragment="footer">
    <p>Все права защищены &copy; 2024</p>
    <div class="social-icons">
        <a href="https://www.facebook.com"><img src="/facebook-icon.webp" alt="Facebook" width="50"></a>
        <a href="https://www.twitter.com"><img src="/twitter-icon.webp" alt="Twitter" width="50"></a>
        <a href="https://www.instagram.com"><img src="/Instagram_icon.png" alt="Instagram" width="50"></a>
        <a href="https://www.linkedin.com"><img src="/linkedin-icon.png" alt="LinkedIn" width="50"></a>
    </div>
</footer>