<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Успешно!</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    body {
        font-size: x-large;
    }
    header {
        text-align: center;
        background: #31412b;
    }
    h1 {
        font-weight: bold;
        margin-left: 1000px;
        margin-top: 400px;
        margin-bottom: 600px;
    }
</style>
<body>
<div th:insert ="~{header :: header}"></div>
<h1>Успешно!</h1>
<div th:insert ="~{footer :: footer}"></div>
</body>
</html>