<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Информация о преподавателе</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Информация о преподавателе</h1>

<div>
    <h3 th:text="${tutor.fullName}"></h3>
    <p><strong>Опыт:</strong> <span th:text="${tutor.experience}"></span></p>
    <p th:text="${tutor.info}"></p>
    <p>
        <strong>Специализация:</strong>
        <div th:each="specializations : ${specializationTutors}"><span th:text="${specializations}"></span></div>
<!--    сделать умный поиск - при нажатии на специализацию переходить в режим поиска преподавателей по специализации-->
    </p>

</div>
</body>
</html>